<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - clipy</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.14/iconfont/material-icons.min.css">
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <style>
        body {
            font-family: "Geist", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

<body>
<header class="sticky  top-2 z-50 bg-base-100/70 backdrop-blur  rounded-lg">
    <div class="navbar max-w-5xl mx-auto px-4">

        <!-- Mobile Menu -->
        <div class="navbar-start lg:hidden">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </label>

                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">

                    <li>
                        <a asp-page="/AddNote">Create Note</a>
                    </li>

                    <li>
                        <a asp-page="/ViewNote">View Note</a>
                    </li>

                    <li>
                        <a asp-page="/Room">Start Room</a>
                    </li>

                </ul>
            </div>
        </div>

        <!-- Logo -->
        <div class="flex-1 hidden md:block">
            <a href="/" class="flex items-center gap-2 font-semibold text-lg">
                Clipy
            </a>
        </div>

        <!-- Desktop Menu -->
        <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal gap-2">

                <li>
                    <a asp-page="/AddNote">Create Note</a>
                </li>

                <li>
                    <a asp-page="/ViewNote">View Note</a>
                </li>

                <li>
                    <a asp-page="/Room" class="btn btn-primary btn-sm">
                        Start Room
                    </a>
                </li>

            </ul>
        </div>

    </div>
</header>
<!-- Main Content -->
<main role="main">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>