<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - clipy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist&display=swap" rel="stylesheet">
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <style>
        body {
            font-family: "Geist", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

<body>
<header role="banner" class="container">
    <nav>

        <ul>
            <li>
                <a href="/" class="contrast">Clipy</a>

            </li>
        </ul>
        <ul>
            <li>
                <a asp-page="/AddNote" class="contrast">Create note</a>
            </li>
            <li>
                <a asp-page="/ViewNote" class="contrast">View note</a>
            </li>
            <li>
                <a asp-page="/room" class="contrast">Room</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Main Content -->
<main class="container" role="main">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>